In [73]:
import pandas as pd

df = pd.read_csv('pp_train.csv')
df

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,totalImages,totalVideos,totalCredits,...,is_War,is_Horror,is_Animation,fill_runtimeMinutes,is_from_Oceania,is_from_North America,is_from_South America,is_from_Asia,is_from_Africa,is_from_Europe
0,Neogenic Nightmare Chapter 3: Hydro-Man,8,1995,NaN,NaN,0.0,779,1,0,21,...,0,0,1,40.0,0,1,0,0,0,0
1,Looping,6,1982,NaN,NaN,0.0,11,1,0,1,...,0,0,0,28.0,0,0,0,0,0,1
2,Idealnaya para,6,1992,NaN,NaN,0.0,38,1,0,24,...,0,0,0,90.0,0,0,0,0,0,1
3,MasterChef Celebrity México,6,2021,NaN,NaN,0.0,15,22,0,56,...,0,0,0,31.0,0,1,0,0,0,0
4,Seutateueob,8,2020,2020.0,80.0,1.0,15718,347,2,47,...,0,0,0,80.0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16426,Caprices,6,1942,NaN,NaN,0.0,73,4,0,45,...,0,0,0,90.0,0,0,0,0,0,1
16427,Haar Jeet,5,1990,NaN,NaN,0.0,15,2,0,22,...,0,0,0,90.0,0,0,0,1,0,0
16428,Kotigobba 3,6,2021,NaN,140.0,0.0,2560,39,3,129,...,0,0,0,140.0,0,0,0,1,0,0
16429,Ator l'invincibile,4,1982,NaN,NaN,0.0,3011,52,1,53,...,0,0,0,90.0,0,0,0,0,0,1
16430,Anniversary Night,10,2022,NaN,NaN,0.0,9,7,0,19,...,0,0,0,12.0,0,0,0,1,0,0

In [74]:
df.loc[~df['endYear'].isna()].groupby('titleType').count()

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,totalImages,totalVideos,totalCredits,...,is_War,is_Horror,is_Animation,fill_runtimeMinutes,is_from_Oceania,is_from_North America,is_from_South America,is_from_Asia,is_from_Africa,is_from_Europe
titleType,,,,,,,,,,,,,,,,,,,,,
tvMiniSeries,121,121,121,121,61,121,121,121,121,121,...,121,121,121,121,121,121,121,121,121,121
tvSeries,693,693,693,693,414,693,693,693,693,693,...,693,693,693,693,693,693,693,693,693,693

In [75]:
df['rating'].mean()

7.1556204734952225

In [76]:
# no correlation whatsoever
df.loc[((df['titleType'] == 'tvMiniSeries') | (df['titleType'] == 'tvSeries')) & (~df['endYear'].isna()), 'rating'].mean()

7.362407862407863

In [77]:
df.groupby('titleType').count()

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,totalImages,totalVideos,totalCredits,...,is_War,is_Horror,is_Animation,fill_runtimeMinutes,is_from_Oceania,is_from_North America,is_from_South America,is_from_Asia,is_from_Africa,is_from_Europe
titleType,,,,,,,,,,,,,,,,,,,,,
movie,5535,5535,5535,0,4310,5535,5535,5535,5535,5535,...,5535,5535,5535,5535,5535,5535,5535,5535,5535,5535
short,2474,2474,2474,0,1892,2474,2474,2474,2474,2474,...,2474,2474,2474,2474,2474,2474,2474,2474,2474,2474
tvEpisode,4698,4698,4698,0,3229,4698,4698,4698,4698,4698,...,4698,4698,4698,4698,4698,4698,4698,4698,4698,4698
tvMiniSeries,224,224,224,121,104,224,224,224,224,224,...,224,224,224,224,224,224,224,224,224,224
tvMovie,868,868,868,0,656,868,868,868,868,868,...,868,868,868,868,868,868,868,868,868,868
tvSeries,1375,1375,1375,693,699,1375,1375,1375,1375,1375,...,1375,1375,1375,1375,1375,1375,1375,1375,1375,1375
tvShort,40,40,40,0,39,40,40,40,40,40,...,40,40,40,40,40,40,40,40,40,40
tvSpecial,166,166,166,0,94,166,166,166,166,166,...,166,166,166,166,166,166,166,166,166,166
video,792,792,792,0,554,792,792,792,792,792,...,792,792,792,792,792,792,792,792,792,792
videoGame,259,259,259,0,2,259,259,259,259,259,...,259,259,259,259,259,259,259,259,259,259

In [78]:
df.loc[(df['titleType'] == 'tvMiniSeries')]

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,totalImages,totalVideos,totalCredits,...,is_War,is_Horror,is_Animation,fill_runtimeMinutes,is_from_Oceania,is_from_North America,is_from_South America,is_from_Asia,is_from_Africa,is_from_Europe
7,Nanba MG5,8,2022,NaN,NaN,0.0,70,7,0,69,...,0,0,0,60.0,0,0,0,1,0,0
9,Ulot Puran,9,2022,NaN,NaN,0.0,27,9,0,15,...,0,0,0,60.0,0,0,0,1,0,0
86,JFK: The Final Evidence,8,2023,2023.0,NaN,0.0,32,5,0,20,...,0,0,0,60.0,0,0,0,0,0,1
202,Dead by Sunset,7,1995,NaN,185.0,0.0,443,2,0,140,...,0,0,0,185.0,0,1,0,0,0,0
485,Selambs,8,1979,1979.0,528.0,0.0,19,2,0,115,...,0,0,0,528.0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16049,The Legend of Robin Hood,8,1975,1975.0,50.0,0.0,134,2,0,83,...,0,0,0,50.0,0,0,0,0,0,1
16152,The Lakes with Simon Reeve,8,2021,2021.0,NaN,0.0,102,5,0,20,...,0,0,0,60.0,0,0,0,0,0,1
16256,Doppio segreto,4,1999,NaN,200.0,0.0,11,1,0,48,...,0,0,0,200.0,0,0,0,0,0,1
16352,L'idiota,8,1959,NaN,NaN,0.0,17,1,0,42,...,0,0,0,60.0,0,0,0,0,0,1
16425,A Woman of Substance,8,1984,1984.0,NaN,0.0,1157,13,1,88,...,0,0,0,60.0,0,0,0,0,0,1

In [79]:
df.loc[((df['titleType'] == 'tvMiniSeries') | (df['titleType'] == 'tvSeries')) & (df['endYear'].isna())]

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,totalImages,totalVideos,totalCredits,...,is_War,is_Horror,is_Animation,fill_runtimeMinutes,is_from_Oceania,is_from_North America,is_from_South America,is_from_Asia,is_from_Africa,is_from_Europe
3,MasterChef Celebrity México,6,2021,NaN,NaN,0.0,15,22,0,56,...,0,0,0,31.0,0,1,0,0,0,0
7,Nanba MG5,8,2022,NaN,NaN,0.0,70,7,0,69,...,0,0,0,60.0,0,0,0,1,0,0
9,Ulot Puran,9,2022,NaN,NaN,0.0,27,9,0,15,...,0,0,0,60.0,0,0,0,1,0,0
99,The Diplomat,8,2023,NaN,50.0,3.0,61747,62,5,678,...,0,0,0,50.0,0,1,0,0,0,1
140,Drive Thru History,10,2005,NaN,NaN,0.0,149,39,0,48,...,0,0,0,31.0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16307,See HIM Fuck,6,2019,NaN,NaN,0.0,13,0,0,172,...,0,0,0,31.0,0,1,0,0,0,0
16349,American Agenda,4,2019,NaN,180.0,0.0,39,6,0,793,...,0,0,0,180.0,0,1,0,0,0,0
16352,L'idiota,8,1959,NaN,NaN,0.0,17,1,0,42,...,0,0,0,60.0,0,0,0,0,0,1
16388,Glykes alhimeies,7,2008,NaN,NaN,0.0,20,1,0,21,...,0,0,0,31.0,0,0,0,0,0,1
16405,Yuhuwa Chingudeul,7,2011,NaN,NaN,0.0,64,37,0,248,...,0,0,1,31.0,0,1,0,1,0,1

In [80]:
def preprocess_endyear(df):
    copy = df
    endYear = copy.loc[(copy['titleType'] == 'tvMiniSeries') | (copy['titleType'] == 'tvSeries'), 'endYear']

    copy['endYear'] = copy['startYear']
    copy.loc[(df['titleType'] == 'tvMiniSeries') | (copy['titleType'] == 'tvSeries'), 'endYear'] = endYear
    return copy['endYear']

df['endYear'] = preprocess_endyear(df)

In [81]:
df.loc[((df['titleType'] == 'tvMiniSeries') | (df['titleType'] == 'tvSeries')) & (df['endYear'].isna())]

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,totalImages,totalVideos,totalCredits,...,is_War,is_Horror,is_Animation,fill_runtimeMinutes,is_from_Oceania,is_from_North America,is_from_South America,is_from_Asia,is_from_Africa,is_from_Europe
3,MasterChef Celebrity México,6,2021,NaN,NaN,0.0,15,22,0,56,...,0,0,0,31.0,0,1,0,0,0,0
7,Nanba MG5,8,2022,NaN,NaN,0.0,70,7,0,69,...,0,0,0,60.0,0,0,0,1,0,0
9,Ulot Puran,9,2022,NaN,NaN,0.0,27,9,0,15,...,0,0,0,60.0,0,0,0,1,0,0
99,The Diplomat,8,2023,NaN,50.0,3.0,61747,62,5,678,...,0,0,0,50.0,0,1,0,0,0,1
140,Drive Thru History,10,2005,NaN,NaN,0.0,149,39,0,48,...,0,0,0,31.0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16307,See HIM Fuck,6,2019,NaN,NaN,0.0,13,0,0,172,...,0,0,0,31.0,0,1,0,0,0,0
16349,American Agenda,4,2019,NaN,180.0,0.0,39,6,0,793,...,0,0,0,180.0,0,1,0,0,0,0
16352,L'idiota,8,1959,NaN,NaN,0.0,17,1,0,42,...,0,0,0,60.0,0,0,0,0,0,1
16388,Glykes alhimeies,7,2008,NaN,NaN,0.0,20,1,0,21,...,0,0,0,31.0,0,0,0,0,0,1
16405,Yuhuwa Chingudeul,7,2011,NaN,NaN,0.0,64,37,0,248,...,0,0,1,31.0,0,1,0,1,0,1

In [82]:
df

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,totalImages,totalVideos,totalCredits,...,is_War,is_Horror,is_Animation,fill_runtimeMinutes,is_from_Oceania,is_from_North America,is_from_South America,is_from_Asia,is_from_Africa,is_from_Europe
0,Neogenic Nightmare Chapter 3: Hydro-Man,8,1995,1995.0,NaN,0.0,779,1,0,21,...,0,0,1,40.0,0,1,0,0,0,0
1,Looping,6,1982,1982.0,NaN,0.0,11,1,0,1,...,0,0,0,28.0,0,0,0,0,0,1
2,Idealnaya para,6,1992,1992.0,NaN,0.0,38,1,0,24,...,0,0,0,90.0,0,0,0,0,0,1
3,MasterChef Celebrity México,6,2021,NaN,NaN,0.0,15,22,0,56,...,0,0,0,31.0,0,1,0,0,0,0
4,Seutateueob,8,2020,2020.0,80.0,1.0,15718,347,2,47,...,0,0,0,80.0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16426,Caprices,6,1942,1942.0,NaN,0.0,73,4,0,45,...,0,0,0,90.0,0,0,0,0,0,1
16427,Haar Jeet,5,1990,1990.0,NaN,0.0,15,2,0,22,...,0,0,0,90.0,0,0,0,1,0,0
16428,Kotigobba 3,6,2021,2021.0,140.0,0.0,2560,39,3,129,...,0,0,0,140.0,0,0,0,1,0,0
16429,Ator l'invincibile,4,1982,1982.0,NaN,0.0,3011,52,1,53,...,0,0,0,90.0,0,0,0,0,0,1
16430,Anniversary Night,10,2022,2022.0,NaN,0.0,9,7,0,19,...,0,0,0,12.0,0,0,0,1,0,0

In [84]:
df.to_csv('pp_train.csv', index=False)

In [85]:
df = pd.read_csv('pp_test.csv')

df['endYear'] = preprocess_endyear(df)
df

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,totalImages,totalVideos,totalCredits,...,is_Film-Noir,is_War,is_Comedy,fill_runtimeMinutes,is_from_South America,is_from_Oceania,is_from_Europe,is_from_Asia,is_from_Africa,is_from_North America
0,Geologist of Animal Collective Performs Live a...,10,2015,2015.0,21.0,0.0,15,7,2,11,...,0,0,0,21.0,0,0,0,0,0,1
1,Shan gou 1999,5,1999,1999.0,NaN,0.0,304,10,0,40,...,0,0,0,91.0,0,0,0,1,0,0
2,The Craftsman: Preserving the Last Higgins Boat,9,2023,2023.0,NaN,0.0,10,2,0,6,...,0,0,0,73.0,0,0,0,0,0,1
3,Week 3: Tuesday,7,2020,2020.0,NaN,0.0,11,0,0,52,...,0,0,0,33.0,0,0,1,0,0,0
4,Traumhaus,6,1999,1999.0,90.0,0.0,145,2,0,44,...,0,0,0,90.0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5473,Parasiz yasamak pahali,8,1994,1994.0,141.0,0.0,45,1,0,12,...,0,0,1,141.0,0,0,0,1,0,0
5474,Wedding Bell Blues,7,1994,1994.0,22.0,0.0,19,17,0,35,...,0,0,1,22.0,0,0,0,0,0,1
5475,O anthropos pou to 'paize poly!,4,1983,1983.0,85.0,0.0,14,1,0,30,...,0,0,1,85.0,0,0,1,0,0,0
5476,Above Average Presents,7,2012,NaN,NaN,0.0,111,56,0,992,...,0,0,1,30.0,0,0,0,0,0,1
5477,Omae wa mada Gunma wo shiranai,5,2017,2017.0,30.0,0.0,11,1,0,17,...,0,0,1,30.0,0,0,0,1,0,0

In [86]:
df.to_csv('pp_test.csv', index=False)